<?xml version="1.0" ?>
<config>
    <modules>
        <Mygento_Minify>
            <version>1.0.0</version>
        </Mygento_Minify>
    </modules>
    <default>
        <minify>
            <general>
                <enabled>0</enabled>
                <debug>0</debug>
                <css>1</css>
                <js>1</js>
            </general>
        </minify>
    </default>
    <global>
        <blocks>
            <minify>
                <class>Mygento_Minify_Block</class>
            </minify>
        </blocks>
        <helpers>
            <minify>
                <class>Mygento_Minify_Helper</class>
            </minify>
            <core>
                <rewrite>
                    <data>Mygento_Minify_Helper_Rewrite_Core_Data</data>
                </rewrite>
            </core>
        </helpers>
        <models>
            <minify>
                <class>Mygento_Minify_Model</class>
            </minify>
        </models>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <minify>
                    <files>
                        <default>Mygento_Minify.csv</default>
                    </files>
                </minify>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <minify>
                                            <title>Mygento CDN Configuration</title>
                                        </minify>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <phpunit>
        <suite>
            <modules>
                <Mygento_Minify/>
            </modules>
        </suite>
    </phpunit>
</config>
